/* 1. Import Poppins from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-white: #FFFFFF;
  --color-white-80: #FFFFFFCC;
  --color-white-60: #FFFFFF61;
  --color-white-50: #FFFFFF80;
  --color-gray: #E1E1E1;
  --color-gray-2: #E3E3E3;
  --color-gray-3: #E9E9E9;

  --color-primary: #2C0D47;
  --color-primary-2: #2C0E48;
  --color-dark: #200B33;
  --color-dark-2: #371650;
  --color-dark-3: #420356;
  --color-purple: #A419A7;
  --color-purple-2: #461446;
  --color-purple-3: #2C063F;

  --color-yellow: #FFBD0B;
  --color-gold: #E4A02D;
  --color-gold-2: #DE9700;

}